.header{
    background: #170929;
    position: sticky;
    color: white;
    padding: 10px;
    top: 0;

    #{&}_container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #{&}_sublogo{
        font-size: 1.8rem;
        line-height: 3.7rem;
        word-wrap: break-word;
        border: 1px solid red;
        width: 70%;
    }

    #{&}_right{
        display: flex;
        align-items: center;
        gap: 20px;
    }

    input{
        height: 30px;
        width: 180px;
        border-radius: 20px;
        padding: 10px;
        border: none;
    }
}

.avatar_btn{
    background: none;
    border: none;
}

.exit_login{
    border-bottom: 1px solid white;
    border-top: 1px solid transparent;
    border-inline: 1px solid transparent;
    background: none;
    font-size: 1.4rem;
    width: 65px;
}

.add_btn{
    background: linear-gradient(to left, #FF8C00, #FF0080 );
    border: none;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    font-size: 20px;
}